#rank {
    width: 200x;
    float: left;
    border: 3px;
    border-style: outset;

}

#board{
    width: 670px;
    float: left;
    background-color: #DEFFAC;
}

#money{
    height: 80px;
    display:  flex;
    align-items: center;
    justify-content:  center;
}

div{
    margin: 15px;
    padding: 10x;
}

img{
    width: 90px; 
    margin: 5px; 
}

.icon{
    width: 30px;
}

#dealer_card, #player_card{
    height: 138px;
}